<%- include('../partials/header.ejs');-%>
<%- include('../partials/nav.ejs');-%>
<div class="container" id="backBranco">
    <h2>Gerenciar Ambientes Cadastrados</h2>

    <ul class="nav nav-tabs" >
        <li class="nav-item" id="linkGui">
          <a class="nav-link" aria-current="page" href="/gerenciar-itens-cadastrados" >Equipamentos cadastrados</a>
        </li>
        <li class="nav-item" id="linkGui">
          <a class="nav-link active" href="/gerenciar-ambientes-cadastrados" style="color: crimson;">ambientes cadastrados</a>
        </li>
    </ul> 

      <%- include('../partials/arvore4.ejs');-%>
    

    <%- include('../partials/gerenteDeLocais.ejs');-%>

    <%- include('../partials/dialogo1.ejs');-%>

</div>
<%- include('../partials/footer.ejs');-%>